.nm-hol {
    text-transform: uppercase;
    color: white;
    font-size: 25px;
}
.book {
    height: 200px;
    text-align: center;
    margin-bottom: 5px;
    border: 0;
    background-color: gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0;
}
.book .btn {
    margin-right: 5px;
    margin-top: 5px;
    text-align: center;
    padding: 15px;
}
/*  */
